@model MathQuizAsp.Features.Game.GameState
@{
    ViewBag.Title = "Game mode";
}

@* Green board header container *@
<div id="info-panel">
    <h1 id="yellow-text">Math Quiz is fun. Isn't it!</h1>
    <p>Selected difficulty: @Model.Difficulty</p>
    <p>Questions remainting: @Model.QuestionsRemaining</p>
</div>

@* Render this when game is finished *@
@if (Model.IsGameFinished)
{
    <div id="main-container">
        <h1>Congratulations for completing the game!</h1>
        <span>Your accuracy is: <p>@Model.Accuracy %</p></span>
        <form action="/" method="get">
            <input class="board-btn" type="submit" value="Start over again!" />
        </form>
    </div>
}

@* Render this when game in progress *@
@if (!Model.IsGameFinished)
{
<div id="question-container">
    <p>Answer the question below,</p>
    <h1 id="yellow-text" class="d-inline">@Model.CurrentQuestion.GetQuestion()</h1>

    @if (Model.IsAnsweringInProgress)
    {
        using (Html.BeginForm())
        {
            <div class="form-group">
                @Html.TextBox("Answer", "", new { type = "number", placeholder = "Your guess" })
                @Html.ValidationMessage("Answer", new { @class = "text-danger" })
                <input class="board-btn" type="submit" value="Check your answer" />
            </div>
        }
    }

    @if (!Model.IsAnsweringInProgress)
    {
        <h1 class="d-inline">@Model.UserAnswer</h1>
        if (Model.UserAnswer == Model.CurrentQuestion.Answer.ToString())
        {
            <div class="alert alert-dismissible alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                You are absolutely correct!
            </div>
        }
        else
        {
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                You did a mistake! Correct answer is:<strong> @Model.CurrentQuestion.Answer</strong>
            </div>
        }
        <form method="post">
            <input class="board-btn" type="submit" value="Next question" />
        </form>
    }
    <div id="timer-container">
        <p>Time left:</p>
        <p id="timer-title">@Model.UnixTimeToDateTime(Model.FinishTillTime).ToString("HH:mm:ss")</p>
        <input id="finish-time-input" type="hidden" value="@Model.FinishTillTime" />
    </div>
</div>
}
