@model MathQuizAsp.Models.GameSettings
@{
    ViewBag.Title = "Game menu";
}

<h1 id="yellow-text">Welcome to MathQuiz</h1>
<p>Select game difficulty and start playing!</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Difficulty)
        @Html.DropDownList("Difficulty", new SelectList(Model.DifficultyOptions, Model.DefaultDifficulty), new { name = "Difficulty" })
        @Html.ValidationMessageFor(model => model.Difficulty, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.QuestionCount)
        @Html.TextBox("QuestionCount", 5, new { type = "number", min = 1, max = 25 })
        @Html.ValidationMessageFor(model => model.QuestionCount, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input class="board-btn" type="submit" value="Start playing!" />
    </div>

    @if (!Request.QueryString["error"].IsEmpty())
    {
    <p class="text-danger">@Request.QueryString["error"]</p>
    }
</div>
}
